<div class="clear">&nbsp;</div>

<!-- start footer -->
<div id="footer">
<!-- <div id="footer-pad">&nbsp;</div> -->
	<!--  start footer-left -->
	<div id="footer-left">
            Systems &copy; Copyright Anthony Lawrence <a href="http://about.me/ThatKernowBoy">http://about.me/ThatKernowBoy</a>.
            <span style="float:right;">Admin Skin &copy; Copyright Internet Dreams Ltd. <a href="http://www.netdreams.co.uk">www.netdreams.co.uk</a>. All rights reserved.</span>
        </div>
	<!--  end footer-left -->
	<div class="clear">&nbsp;</div>
</div>
<!-- end footer -->

</body>
</html>