{{>head}}

<body>
    <!-- Start: page-top-outer -->
    <div id="page-top-outer">
        <!-- Start: page-top -->
        <div id="page-top">

            <!-- start logo -->
            <div id="logo">
                <a href=""><img src="<?=base_url("public/images/logo.png")?>" width="156" height="40" alt="" /></a>
            </div>
            <!-- end logo -->

            <!--  start top-search -->
            <div id="top-search">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td><input type="text" value="Search" class="top-search-inp" /></td>
                        <td>
                            <select  class="styledselect">
                                <option value="">1</option>
                                <option value="">2s</option>
                            </select>
                        </td>
                        <td>
                            <input type="image" src="<?=base_url("public/styles/".$templateTheme."/img/shared/top_search_btn.gif")?>"  />
                        </td>
                    </tr>
                </table>
            </div>
            <!--  end top-search -->
            <div class="clear"></div>

        </div>
        <!-- End: page-top -->
    </div>
    <!-- End: page-top-outer -->

    <div class="clear">&nbsp;</div>

    {{>navbar}}