APP_ENV=testing
APP_KEY=
APP_URL=http://core.test
CACHE_DRIVER=array
DB_MYSQL_HOST=mysql
DB_MYSQL_PORT=3306
DB_MYSQL_USER=root
DB_MYSQL_PASS=root
DB_MYSQL_NAME=core_testing
CTS_DATABASE=cts_testing
LOG_CHANNEL=single
VATSIM_OAUTH_CLIENT=0
