[submodule "shadowhand_email"]
	path = modules/email
	url = git://github.com/shadowhand/email.git

[submodule "swiftmailer"]
	path = modules/vendor/swiftmailer
	url = git://github.com/swiftmailer/swiftmailer.git
