language: php
php:
- 7.0
- 7.1
services:
- mysql:5.5

matrix:
  fast_finish: true

before_install:
- mysql -e 'create database IF NOT EXISTS core;' -uroot
- mysql -e 'create database IF NOT EXISTS rts;' -uroot
- composer install --prefer-dist --no-interaction -o > /dev/null
- npm install gulp
- npm install

install:
- cp .env.example .env
- php artisan key:generate
- php artisan migrate -vvv -n
- php artisan module:migrate networkdata -vvv -n
- php artisan module:migrate community -vvv -n
- php artisan module:migrate visittransfer -vvv -n
- gulp --production
- chmod +x ./codeclimate.sh

before_script:
- php artisan serve -q &

script:
- vendor/bin/phpunit

after_success:

after_failure:

before_deploy:

deploy:

after_deploy:

after_script:
  ./codeclimate.sh

cache:
  directories:
  - node_modules

notifications:
  email: false
  slack:
    secure: RFWNr/B7Hg4HauK7FhT0PoWUTCy1s+117d2xuc8n5c9F6XD3+g9TXtAJa8wsdZSGSY+B7BLOojUFEoCKPRwAcdJiZ5pItxa7++6LRqNu/ireF4ItJTD25bXWO28iNmo43/E3isbN9pYdJPPc9JIordk8nZHMPRg3lqygGTSaExAB8pZMTSIG7cH+YGuEXO09Q1TQiW781xkj/IcF8PDhcRFNp+lQNsEvJTjC42/qs+7/JIclfL+lFJFG8WANhcgHy1NsnEQ2C0i6ywecTmUclAxQvq2K5WhKgeCaOyKwgtt0r+9tJpSoPF4wf6GXC3JysrgSEUmV7SASQhvgKlrGukEQm+ys8xw3PVHCAy6WDNXbbf8HPzJ1NUbT3U4HqV+dTjCbpa/LS9Z2LQQTOcY9gbc+07kaU3wHaDD5pOlxLcC8Y0ISsN5/r4nec4xHVboskgcBTwiNGC42hfJsRR2HrnGvK9VjETIuzzmParOz4RXEyKFti0oPtgSWEJdd8ni/nEOFVPzozNdL3Qlgkc8dpln2nHV4U+8wTJtWdSfjfbr0KqaRnOhgG0v8S0vChl1xxx0eWw9uaNQRaOt6U7hO8WhdnCQBcZcVrDkEpZnwW/k/ZL/ZHuzndLZH/IWqFHx4MBNeaL9KPHVxNsaR7vjvbdX2+4TB6YCkqdQ9GmshpO4=
