language: php
php:
  - '5.5'
  - '5.4'
  - '5.6'
  - '7.0'
  - hhvm
  - nightly

services:
  - mysql:5.5

before_install:
  - mysql -e 'create database IF NOT EXISTS core;' -uroot
  - mysql -e 'create database IF NOT EXISTS rts;' -uroot
  - composer install --prefer-dist --no-interaction -o > /dev/null
  - npm install gulp
  - npm install

install:
  - cp .env.example .env
  - php artisan key:generate
  - php artisan migrate -vvv -n
  - php artisan module:migrate -vvv -n
  - gulp --production

before_script:
  - php artisan serve -q &

script:
  - vendor/bin/phpunit

after_success:

after_failure:

before_deploy:

deploy:

after_deploy:

after_script:

addons:
    code_climate:
        repo_token: b8d7102d6575c100bd3dd53ffc35378b5004348b09dc03c84536a39bde88d862

cache:
  bundler: true
  directories:
  - node_modules # NPM packages
