---
ip: "192.168.10.10"
name: vukcore
memory: 1024
cpus: 1
provider: virtualbox
mariadb: true
authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa
folders:
    - map: '[[ Local Directory ]]'
      to: /home/vagrant/vukcore

sites:
    - map: vukcore.test
      to: /home/vagrant/vukcore/public

databases:
    - vukcore