<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>./tests/Unit/</directory>
        </testsuite>

        <testsuite name="Modules:Visiting and Transferring Test Suite">
            <directory>./app/Modules/Visittransfer/Tests/</directory>
        </testsuite>

        <testsuite name="Modules:Network Data Test Suite">
            <directory>./app/Modules/NetworkData/Tests/</directory>
        </testsuite>

        <testsuite name="Modules:Community Test Suite">
            <directory>./app/Modules/Community/Tests/</directory>
        </testsuite>

        <testsuite name="Application Test">
            <directory>./tests/Integration/</directory>
        </testsuite>

        <!--<testsuite name="Modules:Statistics Test Suite">-->
        <!--<directory>./app/Modules/Statistics/Tests/</directory>-->
        <!--</testsuite>-->

        <!--<testsuite name="Modules:Ais Test Suite">-->
            <!--<directory>./app/Modules/Ais/Tests/</directory>-->
        <!--</testsuite>-->
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">app/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
</phpunit>
