@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";

.navbar {
  color: white;
}

.navbar-brand {
  padding: 5px;
  img{
    margin-top: 5px;
    height: 100%;
    max-height: 35px;
  }
}

.nav_upper_container {
  margin: 0 auto;
  width: 90%;
}

.navbar-toggle {
  margin-top: 13px;
  padding: 9px 10px !important;
}


.navbar-header .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-uk {
  background: #17375e;
  border-bottom: 5px solid #00b0f0;
  min-height:55px;
}

.dropdown-menu {
  left: inherit;
}

.dropdown-menu-logout {
  left: auto !important;
  right: 5% !important;
}

.dropdown-menu-large {
  padding: 20px 0;
  > li {
    > ul {
      padding: 0;
      margin: 0;
      > li {
        list-style: none;
        > a {
          display: block;
          padding: 3px 20px;
          clear: both;
          font-weight: normal;
          line-height: 1.428571429;
          color: #fff;
          white-space: normal;
        }
      }
    }
    ul > li > a {
      &:hover, &:focus {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
      }
    }
  }
  .disabled > a {
    color: #505050;
    &:hover, &:focus {
      color: #505050;
    }
    &:hover, &:focus {
      text-decoration: none;
      background: transparent none;
      filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
      cursor: not-allowed;
    }
  }
  .dropdown-header {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }
}

@media (max-width: $screen-sm-max) {
  .dropdown-menu-large {
    margin-left: 0;
    margin-right: 0;
    > li {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .dropdown-header {
      padding: 3px 15px !important;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .navbar-right {
    &.navbar-notification {
      margin-right: 0;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .account-dropdown {
    max-width: calc(90% - 650px);
    li {
      max-width: 100%;
      min-width: 4em;
      a {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}

.unread-notifications {
  color: #f55;
}

.navcustom > li > a {
  padding: 16px 15px;
  font-size: 14px;
  color: #fff;
  display: block;
}

.nav {
  > li > a {
    &:focus, &:hover {
      background-color: #00b0f0;
      transition: background-color 0.2s, color 0.2s, transform 0.2s;
      transition-timing-function: ease-out;
    }
  }
  .open > a {
    background-color: #00b0f0;
    color: #fff;
    &:focus, &:hover {
      background-color: #00b0f0;
      color: #fff;
    }
  }
}

.navbar-collapse {
  &.in, &.collapsing {
    background-color: #17375e;
    width: 100%;
    overflow-x: hidden;
  }
}

.navbar-default .navbar-nav > li > a {
  &:hover, &:focus {
    background-color: #00b0f0;
    color: #fff;
  }
}

.nav-collapsed:hover {
  background-color: #00b0f0;
  color: #fff;
}

.mainmenu_dropdown {
  background-color: #00b0f0 !important;
  border: 0;
  min-width: 230px;
}

.nav-collapsed {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
}

.nav-collapsed-icon {
  display: block;
  width: 27px;
  height: 2px;
  margin: 6px 0;
  border-radius: 1px;
  background-color: #fff;
}

/*
Nav Collapse Breakpoint
 */

@media (min-width: $screen-lg-min) {
  #nav {
    .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0;
    }
  }
}

@media (max-width: $screen-md-min) {
  #nav-inner {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
  }
  #nav {
    .navbar-header {
      float: none;
    }
    .navbar-left, .navbar-right {
      float: none !important;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
      display: none !important;
    }
    .navbar-nav {
      float: none !important;
      margin-top: 7.5px;
    }
    .navbar-nav > li {
      float: none;
    }
    .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .collapse.in {
      display: block !important;
    }
  }
}
