$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
) !default;

@each $index, $currentSpacer in $spacers {
    .m-#{$index} {
        margin: $currentSpacer;
    }
    .mx-#{$index} {
        margin-left: $currentSpacer;
        margin-right: $currentSpacer;
    }
    .mt-#{$index} {
        margin-top: $currentSpacer;
    }
    .ml-#{$index} {
        margin-left: $currentSpacer;
    }
    .mr-#{$index} {
        margin-right: $currentSpacer;
    }
    .mb-#{$index} {
        margin-bottom: $currentSpacer;
    }
    .pt-#{$index} {
        padding-top: $currentSpacer;
    }
    .pl-#{$index} {
        padding-left: $currentSpacer;
    }
    .pr-#{$index} {
        padding-right: $currentSpacer;
    }
    .pb-#{$index} {
        padding-bottom: $currentSpacer;
    }
    .p-#{$index} {
        padding: $currentSpacer;
    }
}
