.vuk-letter-a:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'A';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-a:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'a';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-b:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'B';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-b:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'b';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-c:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'C';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-c:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'c';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-d:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'D';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-d:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'd';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-e:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'E';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-e:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'e';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-f:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'F';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-f:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'f';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-g:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'G';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-g:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'g';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-h:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'H';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-h:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'h';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-i:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'I';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-i:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'i';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-j:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'J';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-j:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'j';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-k:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'K';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-k:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'k';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-l:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'L';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-l:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'l';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-m:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'M';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-m:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'm';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-n:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'N';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-n:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'n';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-o:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'O';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-o:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'o';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-p:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'P';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-p:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'p';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-q:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'Q';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-q:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'q';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-r:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'R';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-r:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'r';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-s:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'S';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-s:before {
  font-family: $font-family;
  font-weight: bold;
  content: 's';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-t:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'T';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-t:before {
  font-family: $font-family;
  font-weight: bold;
  content: 't';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-u:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'U';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-u:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'u';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-v:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'V';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-v:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'v';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-w:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'W';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-w:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'w';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-x:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'X';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-x:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'x';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-y:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'Y';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-y:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'y';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-z:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'Z';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-z:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'z';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}
