$font-family: Calibri, Tahoma, Geneva, sans-serif;

@import "../vendor/bootstrap3/css/bootstrap";
@import "../vendor/bootstrap3/css/bootstrap-theme";
@import "../vendor/bootstrap-tour/bootstrap-tour.min";
@import "../vendor/ionicons/ionicons.2.0.1.min";
@import "../vendor/font-awesome/font-awesome.4.5.0.min";
@import "../css/AdminLTE/datetimepickerxdan/jquery.datetimepicker.min";

root {
  display: block;
}

.container-fluid{
  padding: 0px;
}

body, html {
  margin: 0 auto;
  font-size: 14px;
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  background: #e3e3e3;
}

.header_container {
  width: 100%;
}

.nav_upper_container{
  width: 100%;
  height: 90px;
  background: #17375e;
  border-bottom: 5px solid #00b0f0;
}

.logo_container{
  height: 70%;
  float: left;
  margin-left: 5.8%;
  margin-top: 25px;
}

.logout {
  float: right;
  text-align: right;
  width: auto;
  margin-right: 5.8%;
  margin-top: 35px;
}

.logout a {
  color: #fff;
}

.navbar {
  color: white;
}

.navbar-header {
  height: 90px;
}

.navbar-brand {
  padding-top: 25px;
  width: 80%;
  height: 100%
}

.navbar-right {
  margin-right: 5.8%;
}

.nav_lower_container {
  width: 100%;
  height: 35px;
  background: #0850a0;
}

.navbar-right {
  margin-right: 5.8%;
}

.banner {
  width: 100%;
  height: 350px;
  background: url("../../assets/images/banner_slide_generic_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 1s linear;
}

.banner img {
  margin-top: 90px;
  height: 260px;
}

.breadcrumb_container{
  width: 100%;
  height: 35px;
  background: #F5F5F5;
}

.breadcrumb_content{
  margin: 0 auto;
  padding-top: 10px;
  width: 80%;
  height: 100%;
  color: grey;
  /*    font-weight: bold;*/
  text-align: right;
}

.banner_breadcrumb_spacer {
  height: 90px;
}

.notification_container{
  width:100%;
  padding: 15px;
  padding-bottom: 15px;
  background: #17375e;
  color: white;
}

.event_thumbs_container{
  padding: 15px;
}

.page_content{
  margin: 0 auto;
  padding-top: 40px;
  width: 90%;
}

.btn-toolbar {
  text-align: center;
}

.align_left{
  text-align:left;
}

.align_center{
  text-align:center;
}

.align_right{
  text-align:right;
}

/* Bootstrap Overwrite */

.label-xs {
  font-size: 10px;
}

.label-sm {
  font-size: 12px;
}

.label-md {
  font-size: 16px;
}

.label-lg {
  font-size: 20px;
}

.panel-ukblue{
  border: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.panel-ukblue > .panel-heading{
  background-color: #17375e;
  border-color: #17375E;
  color: white;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.panel-ukblue .panel-body .row-text-contain {
  word-break: break-word;
}

/* Airfield Data CSS */

.runway_container{
  margin: 0 auto;
  width: 98%;
  min-height: 75px;
  padding: 10px;
  border: 2px solid #e3e3e3;
}

.runay_active{
  border: 2px solid #5CB85C;
}

.runway_name{
  margin-top: -20px;
}

.runway_bg_fill{
  padding: 5px;
  padding-left: 9px;
  padding-right: 9px;
  background: white;
}

.runway_info{
  padding-top: 13px;
}

/** NAV **/
.dropdown-menu {
  left: inherit;
}

.dropdown-menu {
  left: inherit;
}

.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #fff;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #505050;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}
.navcustom>li>a {
  padding-top: 33px;
  padding-bottom: 33px;
  font-size: 14px;
  color: #fff;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: #00b0f0;
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #00b0f0;
  color: #fff;
}

.mainmenu_dropdown {
  background-color: #00b0f0;
  border: 0px;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #00b0f0;
}

.vuk-letter-a:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'A';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-a:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'a';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-b:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'B';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-b:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'b';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-c:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'C';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-c:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'c';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-d:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'D';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-d:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'd';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-e:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'E';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-e:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'e';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-f:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'F';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-f:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'f';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-g:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'G';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-g:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'g';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-h:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'H';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-h:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'h';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-i:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'I';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-i:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'i';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-j:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'J';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-j:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'j';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-k:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'K';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-k:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'k';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-l:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'L';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-l:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'l';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-m:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'M';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-m:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'm';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-n:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'N';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-n:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'n';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-o:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'O';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-o:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'o';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-p:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'P';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-p:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'p';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-q:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'Q';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-q:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'q';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-r:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'R';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-r:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'r';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-s:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'S';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-s:before {
  font-family: $font-family;
  font-weight: bold;
  content: 's';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-t:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'T';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-t:before {
  font-family: $font-family;
  font-weight: bold;
  content: 't';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-u:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'U';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-u:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'u';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-v:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'V';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-v:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'v';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-w:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'W';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-w:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'w';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-x:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'X';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-x:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'x';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-y:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'Y';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-y:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'y';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-z:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'Z';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.vuk-letter-lower-z:before {
  font-family: $font-family;
  font-weight: bold;
  content: 'z';
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}
