$font-family: Calibri, Tahoma, Geneva, sans-serif;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/theme";
@import "node_modules/bootstrap-tour/build/css/bootstrap-tour.min";
@import "node_modules/ionicons/dist/scss/ionicons";
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/jquery-datetimepicker/jquery.datetimepicker";
@import "_nav";
@import "_visit-transfer";
@import "_vuk-letters";

body, html {
  margin: 0 auto;
  font-size: 14px;
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  background: #e3e3e3;
}

.container-fluid {
  padding: 0;
}

.header_container {
  width: 100%;
}

.logo_container {
  height: 70%;
  float: left;
  margin: 10px 15px 0 5.0%;
  img {
    height: 100%;
  }
}

.banner {
  width: 100%;
  height: 350px;
  background: url('../../../public/images/banner_slide_generic_1.jpg') no-repeat 50%;
  background-size: cover;
  img {
    margin-top: 90px;
    height: 260px;
  }
}

.breadcrumb_outer_container {
  width: 100%;
  height: 35px;
  background: #F5F5F5;
}

.breadcrumb_container {
  margin: 0 auto;
  width: 90%;
}

.breadcrumb_content_left, .breadcrumb_content_right {
  margin: 0 auto;
  padding-top: 8px;
  height: 100%;
  color: grey;
  text-align: left;
}

.breadcrumb_content_left {
  float: left;
  padding-left: 15px;
}

.breadcrumb_content_right {
  float: right;
  padding-right: 15px;
}

.banner_breadcrumb_spacer {
  height: 90px;
}

.page_content {
  margin: 0 auto;
  padding-top: 40px;
  width: 90%;
}

.btn-toolbar {
  text-align: center;
}

#vt_referee_reference_content .control-label{
  text-align: left !important;
}

.checkbox-button.btn span.fa {
  opacity: 0;
}

.checkbox-button.btn input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.checkbox-button.btn.active span.fa {
  opacity: 1;
}

/* Bootstrap Overwrite */

.label-xs {
  font-size: 10px;
}

.label-sm {
  font-size: 12px;
}

.label-md {
  font-size: 16px;
}

.label-lg {
  font-size: 20px;
}

.panel-ukblue {
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  > .panel-heading {
    background-color: #17375e;
    border-color: #17375E;
    color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .panel-body .row-text-contain {
    word-break: break-word;
  }
}

.panel-uk-danger {
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  > .panel-heading {
    background-color: #c30c1d;
    border-color: #840712;
    color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .panel-body .row-text-contain {
    word-break: break-word;
  }
}

.panel-group#unreadNotifications, .panel-group#readNotifications {
  padding: 10px;
  .panel {
    margin-bottom:15px;
  }
}
