#.env file for devcontainer configuration
# This is different to the .env file used for the application itself.

# Environment variables for Git configuration
GIT_USER_NAME=John Smith
GIT_USER_EMAIL=address@example.com
