/* Applies to all */
* {
	font-family: "Trebuchet MS", "Arial";
	font-size: 12px;
	margin: 0;
	padding: 0;
}
/* Login CSS */
.login-wrapper {
	background: url('admin-main/login-bg.png') no-repeat;
	width: 323px;
	height: 217px;
	margin: 0 auto;
	color: white;
	margin-top: 125px;
}
#admin-man {
	position: relative;
	top: -60px;
	left: -40px;
}
.login-inner-wrapper {
	position: relative;
	top: -200px;
	padding-left: 70px;
	padding-top: 50px;
}
h2 {
	font-weight: bold;
	font-size: 14px;
	background: none;
}
.login-t {
	width: 200px;
	color: white;
}
.login-t td {
	padding: 10px;
}
.login-panel {
	width: 200px;
	margin: 0 auto;
}
.login-wrapper input[type='text'], .login-wrapper input[type='password'], .login-wrapper input[type='submit'], .login-wrapper input[type='text']:hover, .login-wrapper input[type='password']:hover, .login-wrapper input[type='submit']:hover {
	border: none;
}
.login-wrapper input[type='submit'] {
	background: white;
	width: 60px;
}
.login-wrapper input[type='text'], .login-wrapper input[type='password'] {
	width: 130px;
}

/**
 * Header CSS
 * ---------------
 */
.header {
	background: url('admin-main/header-bg-repeat.png') repeat-x;
}
.header-wrapper {
	height: 100%;
	width: 100%;
}
.banner-left {
	position: fixed;
	bottom: 0;
	left: 0;
	background: url('admin-main/banner-left.png') no-repeat;
	height: 140px;
	width: 625px;
}
.banner-right {
	position: fixed;
	bottom: 0;
	right: 0;
	background: url('admin-main/banner-right.png') no-repeat;
	height: 140px;
	width: 248px;
}
.header-overlay {
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	background: url('admin-main/header-overlay.png') repeat-x;
	z-index: 2;
	color: white;
}
.header-overlay-left {
	width: 85%;
	float: left;
}
.header-overlay-right {
	width: 15%;
	float: right;
	text-align: right;
}
.overlay-text {
	margin-left: 40px;
	margin-top: 6px;
}
.header-overlay a, .header-overlay a:visited, .header-overlay a:hover {
	color: white;
	text-decoration: underline;
}

/**
 * Menu CSS
 * ----------------
 */
.menu-bg {
    background: #fff;
}
menu-bg2 {
    width: 180px;
    background: #42758a;
}
.menu-wrapper {
    position: relative;
    color: white;
    z-index: 200;
    margin-top: 20px;
    width: 180px;
}
.menu-top {
    position: fixed;
    top: 0;
    left: 0;
    background: url('admin-main/menu-top.png') no-repeat;
    height: 100%;
    width: 100%;
    z-index: 150;
}
.menu-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #42758a url('admin-main/menu-bottom.png') bottom repeat-x;
    height: 100%;
    width: 180px;
    z-index: 100;
}
h3 {
    cursor: pointer;
    background: #409dbe url('admin-main/nav-bg.png') right no-repeat;
    text-indent: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 1px;
    margin-top: 1px;
}
.menu-wrapper ul {
    list-style-type: none;
    margin-left: -20px;
    width: 180px;
}
.menu-content {

}
.menu-content a {
    display: block;
    width: 180px;
    color: white;
    text-decoration: none;
    text-indent: 10px;
}
.menu-content a:hover {

}
.menu-controls {
    color: white;
    position: fixed;
    background: #42758a;
    top: 0;
    text-align: center;
    z-index: 300;
    height: 20px;
    width: 180px;
}
.menu-controls a, .menu-controls a:visited {
    color: white;
    text-decoration: none;
}


/**
 * Main CSS
 * ------------------
 */
.main-wrapper {
	margin: 0px 10px 10px 5px;
	color: #4b4b4b;
	line-height: 20px;
	text-align: justify;
}
h1 {
	margin: 10px 0px;
	font-size: 14px;
	background: url('admin-main/header-underline.png') no-repeat bottom left;
	height: 28px;
	padding-bottom: 5px;
	text-indent: 20px;
}
.main-wrapper p {
	margin: 10px 0;
}
.main-text-wrapper {
	margin-bottom: 25px;
}
.main-wrapper a, main-wrapper a:visited {
	color: #36889e;
	text-decoration: none;
}
.main-wrapper a:hover {
	text-decoration: underline;
}

/**
 * Bullet styles
 */
li {
	margin: 5px 20px;
}
ul, ol {
	margin: 10px 0px;
}

/* Tables */
.norm_t td {
	padding: 3px;
}
.fancy-t {
	border: 1px solid #404040;
	border-collapse: collapse;
	width: 100%;
}
.fancy-t td, .fancy-t th {
	text-align: center;
	padding: 3px;
	border-bottom: 1px solid #404040;
}
.fancy-t td {
	background: #f0f5f7;
}
.fancy-t .red td {
	background: #F26C4F;
}
.fancy-t .amber td {
	background: #F9AD81;
}
.fancy-t .green td {
	background: #C4DF9B;
}
.fancy-t th {
	background: #689bb0 url('admin-main/table-th-bg.png') repeat-x bottom;
	border-bottom: 2px solid #404040;
}
.fancy2-t {
	width: 100%;
	border: 1px solid #404040;
	border-collapse: collapse;
}
.fancy2-t th {
	background: #689bb0 url('admin-main/table-th-bg.png') repeat-x bottom;
	border: 1px solid #404040;
	border-right: 2px solid #404040;
}
.fancy2-t th, .fancy2-t td {
	padding: 3px;
	text-align: center;
}
.fancy2-t td {
	border-bottom: 1px solid #404040;
	background: #f0f5f7;
}


/**
 * Odd settings
 * -------------------
 */
.clear-both {
	clear: both;
}
#clock {
	margin-right: 30px;
	margin-top: 6px;
}
input[type='text'], input[type='password'], select, textarea {
	color: #4b4b4b;
	padding: 2px;
	border: 1px solid #4b4b4b;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
input[type='text']:hover, input[type='password']:hover, select:hover, textarea:hover {
	border: 1px solid #d50000;
}
input[type='submit'], input[type='button'] {
	border: 1px solid #4b4b4b;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}