@import "jvectormap/jquery-jvectormap.css";
@import "admin-lte/plugins/timepicker/bootstrap-timepicker.css";
@import "admin-lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.css";
@import "jquery-datetimepicker/jquery.datetimepicker.css";
@import "admin-lte/build/less/AdminLTE";
@import "admin-lte/build/less/skins/skin-black";

@boxed-layout-bg-image-path: "../../dist/img/boxed-bg.jpg";

.feedback-form-config {
  body.dragging, body.dragging * {
    cursor: move !important;
  }

  .dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
  }
  ol.simple_connected_list {
    display: inline;
  }

  ol.simple_connected_list li {
    list-style: none;
  }

  .question-item {
    .box {
      border: 1px solid #dadada;
      background-color:#4f798c;
      color: white;
    }
    .box-body {
      display: none;
      background-color:#375665;
    }
    .ion {
      font-size: 20px;
      cursor: pointer;
    }
  }
}

.panel-title {
  overflow: hidden;
}

.dev_environment_notification {
  height:20px;
  background-color:red;
  text-align: center;
}

.blank-button {
  border: none;
  background-color: transparent;
}
