/* 
    Document   : design
    Created on : 29-Nov-2010, 19:52:58
    Author     : Chris Doherty
    Modified	: Kieran Hardern
			  09-Aug-2012
    Description:
        Website template design
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: "Trebuchet MS";
}

body {
    background: #84aabf;
    text-align: center;
}

.wrapper {
    background: #84aabf url('images/header-gradient-bg.png') repeat-x;
}
.wrapper2 {
    background: url('images/header-image-repeat.png') repeat-y center;
}

.wrapper3 {
    background: url('images/header-image.png') no-repeat center top;
}
.wrapper4 {
    background: url('images/footer-image.png') no-repeat center bottom;
    padding-bottom: 20px;
}
.wrapper5 {
    width: 1150px;
    margin: 0 auto;
    text-align: left;
}
.header-wrapper {
    width: 1150px;
    margin: 0 auto;
}
.header-left {
    float: left;
    margin-top: 35px;
    margin-left: 20px;
    margin-bottom: 25px;
    width: 400px;
}
.header-right {
    float: right;
    margin-top: 60px;
    margin-right: 20px;
    width: 400px;
}
.nav-wrapper {
    background: #f3f3f3;
    width: 1150px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}
.nav-wrapper2 {
    background: #fff;
    width: 1144px;
    margin: 0 auto;
    font-size: 12px;
    text-align: left;
}
.nav-right {
    float: right;
    margin-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.nav-right a {
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: #4b8aad;
    border: 1px solid #fff;
}
.nav-right a:hover {
    border: 1px solid #6c9db7;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #c1d4df;
    color: #2b2b2b;
    transition: background ease .3s;
    -moz-transition: background ease .3s;
    -webkit-transition: background ease .3s;
    transition: border-color ease .3s;
    -moz-transition: border-color ease .3s;
    -webkit-transition: border-color ease .3s;
}
.nav-left {
    float: left;
    margin-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.nav-left a {
    text-decoration: none;
    color: #4b8aad;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
}
.nav-left a:hover {
    color: #2b2b2b;
    transition: color linear .3s;
    -moz-transition: color linear .3s;
    -webkit-transition: color linear .3s;
}
.content-wrapper {
    margin-top: 20px;
    background: #f3f3f3;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 1150px;
    text-align: center;
}
.content-wrapper2 {
    background: #fff;
    width: 1144px;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
}
.content-left, .content-right {
    padding-bottom: 30000px;
    margin-bottom: -30000px;
}

h2 {
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.7);
}  
.divide {
    border: 1px solid white;
    margin-top: 10px;
}
.content-wrapper3 {
	margin-left: 5px;
	margin-right: 5px;
	font-size: 12px;
	color: #2b2b2b;
	margin-top: 10px;
}
h1 {
    font-size: 24px;
    text-indent: 10px;
    color: #246175;
    width: 100%;
    background: #c1d4df;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
    padding-top: 5px;
    padding-bottom: 5px;
}
.txt-box {
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer-wrapper {
    margin-top: 25px;
    font-size: 12px;
    color: #2b2b2b;
}
.footer-left {
    float: left;
    margin-left: 40px;
}
.footer-right {
    float: right;
    margin-right: 140px;
}
.footer-right a {
    text-decoration: none;
    color: #2b2b2b;
    padding-left: 5px;
    padding-right: 5px;
}
.footer-right a:hover {
    
}

