/* 
    Document   : layout
    Created on : 16-Sep-2012, 14:55:17
    Author     : Kieran Hardern
    Description:
        System Layout functionality
*/

/* General CSS */
table.standard {
	margin: 20px auto;
}

table.standard th {
	color: #246175;
	background: #c1d4df;
	padding: 10px 15px;
	text-align: center;
	font-size: 14px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

table.thAlternate th {
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}

table.standard tr {
	
}

table.standard td {
	padding: 7px 10px;
	text-align: justify;
	background: #f3f3f3;
}

table.standard tr:hover td {
	background: #d6d6d6;
}

table.standard tr.middle th, table tr.middle td, table.standard td.centre, table.standard th.centre, table.middle {
	text-align: center;
}

table.reduced {
	padding: 0px;
}

table.reduced input {
	padding: 2px 4px;
}

table.reduced tr {
	
}

table.reduced td {
	padding: 3px;
}

.centre {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

input {
	background: #ffffff;
	border: 1px solid #999999;
	color: #555555;
	padding: 4px 8px;
}

input.button {
	cursor: pointer;
}

p {
	margin: 5px auto 20px auto;
	text-align: justify;
}

/* Columns */

.col2 {
	width: 48%;
	float: left;
	padding: 20px 10px;
	height: auto;
}

.col3 {
	width: 30%;
	padding: 20px 10px;
	float: left;
}

.sideColLeft {
     width: 200px;
     padding: 20px 10px;
     float: left;
}

.sideCol {
     width: auto;
     padding: 20px 10px;
     float: left;
}

.colContain {
	width: 1100px;
	height: auto;
	margin: 5px auto;
	clear: left;
}

.rowContain {
	width: 1150px;
	height: auto;
	margin: 5px auto;
	clear: left;
}

.clearer {
	clear: both;
}

/* Side options */
.sideColLeft div {
     width: 190px;
     display: block;
     height: 30px;
     line-height: 30px;
     padding: 10px;
     font-size: 20px;
}

/* Dashboard modules */

.module {
	width: 93%;
	height: auto;
	padding: 0px 20px;
	margin: 20px auto 50px auto;
	border-radius: 8px;
	background: #e4e4e4;
}

/*
.module .moduleHeader {
	color: #246175;
	font-size: 18px;
	padding: 10px 20px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
	background: #c1d4df;
	margin: -20px -20px 10px -20px;
}
*/

.module .moduleHeader {
	font-size: 17px;
	padding: 10px 20px;
	margin: -20px -20px 10px -20px;
	cursor: pointer;
}

.module .moduleContent {
	min-height: 100px;
}

.module table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.module table th {
	padding: 7px 15px;
}

.module table td {
	color: #000;
	padding: 5px 10px;
}

.moduleCollapse { 
	padding: 4px 5px; 
	text-decoration: none;
	font-size: 11px;
	float: right;
	margin-left: 15px;
}

.moduleClose {
	float: right;
	margin-left: 15px;
}

/* Options to add modules in the 'Add module' popup for the dashboard */
ol.moduleOptions{
	list-style: none;
}

ol.moduleOptions li {
	padding: 5px;
	font-size: 14px;
	display: block;
	cursor: pointer;
	margin: 10px;
}

ol.moduleOptions li:hover{
	background: #e6e6e6;
}

.breadcrumb {
     border: 1px solid #cccccc;
}

/* Main Menu Styling */
.mainMenu {
     margin-top: -21px;
     margin-left: 15px;
     z-index: 9999;
     position: absolute;
     width: 1130px;
}

.menuOpen {
	width: 100px;
	height: 17px;
	margin: -20px auto 20px auto;
	display: block;
	text-align: center;
	cursor: pointer;
}

.menuContain {
    background: #f3f3f3;
    min-height: 100px;
    text-align: center;
    display: none;
    margin: 0;
    clear: both;
    border: 1px solid #cccccc;
}

.menuIcon {
	margin: auto;
}

.menuArea {
    background: #e4e4e4;
    width: 205px;
    text-align: left;
    float: left;
    margin: 15px 10px 20px 10px;
}

.menuArea .menuHeader {
	display: block;
	width: 175px;
	margin: 0;
	padding: 5px 15px;
	line-height: 15px;
	font-size: 11px;
	font-weight: bold;
	background: #6e6e6e;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
}

.menuArea a {
	display: block;
	width: 175px;
	margin: auto;
	padding: 5px 15px;
	line-height: 15px;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.menuArea a:hover {
	background: #ffffff;
}

.menuArea a.disabled {
	color: #888888;
}

.menuArea a.disabled:hover {
	background: transparent;
	cursor: not-allowed;
}

/* Dialog Styling */

.dialog .dialogContent {
	font-size: 13px;
}

#loginBox td {
	text-align: left;
	padding: 5px;
	font-weight: bold;
	font-size: 14px;
}

/* Theory exam styling */

.dragOption {
	width: 130px; 
	height: 40px; 
	padding: 10px; 
	margin: 10px;
	float: left;
	text-align: center;
}

.dropOption {
	width: 175px; 
	height: auto;
	min-height: 90px;
	padding: 5px 0px 0px 10px; 
	margin: -10px -10px -10px 10px;
	float: right;
	z-index: 9;
	background: #ff9999;
}

.answerBar{
	width: 910px;
	float: left;
	min-height: 50px;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.answerBarText {
	float: left;
	width: 720px;
	margin: 0;
	padding: 0;
	border: 0;
}

/* Message CSS */

.messageBox {
	height: auto;
	min-height: 20px;
	text-align: center;
	color: #000000;
	padding: 10px 20px;
	margin: 15px auto;
	border: 1px solid;
}

.messageBox.eventMessage {
	background: #d4e9ab url('./images/messageEvent.png') no-repeat center left;
	border-color: #008000;
}

.messageBox.warningMessage {
	background: #f9efc3 url('./images/messageWarning.png') no-repeat center left;
	border-color: #fbd735;
}

.messageBox.errorMessage {
	background: #ffd5d5 url('./images/messageError.png') no-repeat center left;
	border-color: #800000;
}

/* Note CSS */
.note {
     width: 100%;
     min-height: 50px;
     display: block;
     background: #dedede;
}

.note p {
     padding-left: 5px;
}

.note h6 {
     font-size: 18px;
     display: block;
     padding: 5px;
     border: 1px solid #cccccc;
}

.note_1 h6 {
     background: #ecd672;
}

.note_2 h6 {
     background: #7f4e52;
     color: #ffffff;
}

.note_3 h6 {
     background: #e55451;
}

.note_4 h6 {
     background: #c11b17;
     color: #ffffff;
}

.note_5 h6 {
     background: #e55451;
}

.note_6 h6 {
     background: #e55451;
}

.note_7 h6 {
     background: #e55451;
}

.note_8 h6 {
     background: #e55451;
}

.box {
     width: 95%;
     border: 1px solid #cccccc;
     margin: 20px auto;
     padding: 10px 20px;
     border-radius: 5px;
}

.box .toggle {
     width: 150px;
     margin-top: -11px;
     margin: -11px 0 10px auto;
     cursor: pointer;
}

.box .toggle_icon {
     margin-left: auto;
     margin-right: auto;
}

/*
.ui-tabs-vertical .ui-tabs-nav { padding: 5px 3px 5px 5px; float: left; width: 180px; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 180px; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px 2px 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display: block; width: 150px; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: 3px; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 80%;}
*/