name: Deploy

on:
  repository_dispatch:
    types: [manual-trigger, deploy-trigger]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    concurrency:
      group: core-deploy
      cancel-in-progress: false
    steps:
      - name: Checkout Codes
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.client_payload.ref }}

      - name: Extract short commit hash
        run: |
          echo "::set-env name=COMMIT::$(echo ${GITHUB_SHA} | cut -c1-7)"
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: true

      - name: Extract tag
        run: |
          echo "::set-env name=TAG::$(git describe --tags --abbrev=0)"
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: true

      - name: Set additional deployment variables
        uses: allenevans/set-env@v4.0.0
        with:
          APP_URL: https://www.vatsim.uk
          APPLICATION_ROOT: ${{ secrets.APPLICATION_ROOT }}
          RELEASE_DIRECTORY: ${{ secrets.APPLICATION_ROOT }}/releases/${{ env.COMMIT }}
          SHARED_DIRECTORY: ${{ secrets.APPLICATION_ROOT }}/shared
          PHP_PATH: /bin/php8.4
          VERSIONS_TO_KEEP: 5
          DISCORD_TRAINING_ALERTS_CHANNEL_ID: ${{ secrets.DISCORD_TRAINING_ALERTS_CHANNEL_ID }}

      - name: Discord Notification (Start)
        uses: rjstone/discord-webhook-notify@v2
        with:
            severity: warn
            description: ${{ format('Starting Deployment of **{0}**', github.repository) }}
            details: >
              ${{ format(':rocket: Starting Deployment of commit `{0}` by :technologist: *{1}* to **Production** ({2})', env.COMMIT, github.actor, env.APP_URL) }}
            footer: ${{ format('https://{0}/actions/runs/{1}', github.repository, github.run_id) }}
            webhookUrl: ${{ secrets.ACTIONS_DISCORD_WEBHOOK }}

      - uses: chrnorm/deployment-action@v2
        name: Create GitHub Deployment
        id: github_deployment
        with:
          token: ${{ github.token }}
          environment_url: https://www.vatsim.uk
          environment: production
          ref: ${{ github.event.client_payload.ref }}

      - name: Configure PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:${{ matrix.composer }}

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '22'

      - name: Composer Cache
        uses: actions/cache@v4
        with:
          path: vendor
          key: composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            composer-${{ hashFiles('**/composer.lock') }}
            composer-

      - name: Node Cache
        uses: actions/cache@v4
        with:
          path: node_modules
          key: npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            npm-${{ hashFiles('**/package-lock.json') }}
            npm-

      - name: Install npm dependencies
        run: npm ci

      - name: Build assets
        run: npm run build

      - name: Remove vendor directory post npm build
        run: rm -rf vendor

      - name: Deploy Application
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          source: "."
          target: ${{ env.RELEASE_DIRECTORY }}

      - name: (Remote) Setup .env & install composer dependencies
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER}}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            # Ensure we're working from the current release
            cd $RELEASE_DIRECTORY

            # Symlink .env from root directory
            ln -s $APPLICATION_ROOT/.env .env

            # Install application dependencies
            $PHP_PATH /usr/local/bin/composer install --no-interaction --no-dev
          envs: RELEASE_DIRECTORY,APPLICATION_ROOT,TAG,PHP_PATH

      - name: (Remote) Update symbolic links
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER}}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            if [ ! -d "$SHARED_DIRECTORY/storage" ]; then
              mkdir -p $SHARED_DIRECTORY/storage
              mv $RELEASE_DIRECTORY/storage/* $SHARED_DIRECTORY/storage/
              chmod -R 775 $SHARED_DIRECTORY/storage
            fi

            rm -rf $RELEASE_DIRECTORY/storage
            ln -s $SHARED_DIRECTORY/storage $RELEASE_DIRECTORY/storage

            # Update the current link to point to this release
            ln -sfn $RELEASE_DIRECTORY $APPLICATION_ROOT/current
          envs: RELEASE_DIRECTORY,SHARED_DIRECTORY,APPLICATION_ROOT

      - name: (Remote) Run deployment commands
        uses: appleboy/ssh-action@master
        env:
          GITHUB_ACTOR: ${{ github.actor }}
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER}}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            # Ensure we're working from the new release
            cd /home/core/www.vatsim.uk/current

            # Stop Application / Services
            $PHP_PATH artisan down
            $PHP_PATH artisan horizon:terminate

            # Cache & Config
            $PHP_PATH artisan migrate --step --force -n
            $PHP_PATH artisan db:seed --class=RolesAndPermissionsSeeder --force
            $PHP_PATH artisan route:cache
            $PHP_PATH artisan config:cache
            $PHP_PATH artisan view:clear
            $PHP_PATH artisan storage:link

            # Publish
            $PHP_PATH artisan telescope:publish
            $PHP_PATH artisan horizon:publish
            $PHP_PATH artisan filament:assets

            # Run migrations
            $PHP_PATH artisan migrate --force

            # Move log files
            if [ -e "storage/logs/laravel.log" ]; then
              mv storage/logs/laravel.log storage/logs/laravel.log.`date +%s`; true
            fi

            # Restart PHP-FPM

            ( flock -w 10 9 || exit 1
                echo 'Restarting FPM...'; sudo -S service $PHP_FPM reload ) 9>/tmp/fpmlock

            # Bugsnag
            $PHP_PATH artisan bugsnag:deploy --repository "https://github.com/VATSIM-UK/core" --revision "$COMMIT" --builder "$GITHUB_ACTOR"

            # Start Applications / Services
            $PHP_PATH artisan up
          envs: APPLICATION_ROOT,PHP_PATH,TAG,COMMIT,GITHUB_ACTOR

      - name: Create Sentry release
        uses: getsentry/action-release@v3
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: vatsim-uk
          SENTRY_PROJECT: core
        with:
          environment: production
          version: ${{ github.sha }}

      - name: Housekeeping
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER}}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            # Ensure we're only keeping the desired number of versions in history

            # Releases are extracted by an array ordered by directory
            # creation date.
            releases=($(ls -tU $APPLICATION_ROOT/releases))
            number_of_releases=${#releases[@]}

            if [ "$number_of_releases" -gt "$VERSIONS_TO_KEEP " ]; then
              for i in $(seq 0 `expr $number_of_releases - $VERSIONS_TO_KEEP - 1`);
              do
                echo "Removing: ${releases[$i]}"
                # rm -rf $APPLICATION_ROOT/releases/${releases[$i]}
              done
            fi
          envs: APPLICATION_ROOT,VERSIONS_TO_KEEP

      - name: Update Deployment Status (Failed)
        if: failure()
        uses: chrnorm/deployment-status@releases/v1
        with:
          token: ${{ github.token }}
          target_url: https://www.vatsim.uk
          state: "failure"
          deployment_id: ${{ steps.github_deployment.outputs.deployment_id }}

      - name: Update Deployment Status (Success)
        if: success()
        uses: chrnorm/deployment-status@releases/v1
        with:
          token: ${{ github.token }}
          target_url: https://www.vatsim.uk
          state: "success"
          deployment_id: ${{ steps.github_deployment.outputs.deployment_id }}

      - name: Discord Notification (Failed)
        if: failure()
        uses: rjstone/discord-webhook-notify@v2
        with:
            severity: error
            description: ${{ format('Deployment **FAILED** of **{0}**', github.repository) }}
            details: >
              ${{ format(':fire: Deployment **FAILED** for commit `{0}` by :technologist: *{1}* to **Production** ({2})', env.COMMIT, github.actor, env.APP_URL) }}
            footer: ${{ format('https://github.com/{0}/actions/runs/{1}', github.repository, github.run_id) }}
            webhookUrl: ${{ secrets.ACTIONS_DISCORD_WEBHOOK }}

      - name: Discord Notification (Success)
        if: success()
        uses: rjstone/discord-webhook-notify@v2
        with:
            severity: info
            description: ${{ format('Deployment **SUCCEEDED** of **{0}**', github.repository) }}
            details: >
              ${{ format(':white_check_mark: Deployment **SUCCEEDED** for commit `{0}` by :technologist: *{1}* to **Production** ({2})', env.COMMIT, github.actor, env.APP_URL) }}
            footer: ${{ format('https://github.com/{0}/actions/runs/{1}', github.repository, github.run_id) }}
            webhookUrl: ${{ secrets.ACTIONS_DISCORD_WEBHOOK }}
