name: Release

on:
  repository_dispatch:
    types: [release-trigger]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      #
      # ENVIRONMENT DEPENDENCIES SETUP
      #
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
            php-version: 7.3
        
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
            node-version: '12'
      
      # Generate Release
      # This will trigger the deployment workflow
      - name: Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
        run: |
          npx semantic-release